# Семинар 2: циклы while и for

## Глава -1: что было в прошлый раз?
1. Типы данных
2. Вывод и ввод
2. Условные операторы: `if`, `elif`, `else`

### Немного о том, что не затронули в прошлый раз, но про что спрашивали

#### Форматированные строки или f-строки

Особый вид строчек для удобного вывода. Они требуют букву f перед открывающей кавычкой, и позволяют удобнее работать с выводом. Так, внутрь фигурных скобок {...} можно подавать переменные. Подробнее можно почитать [тут](https://docs.python.org/3/tutorial/inputoutput.html#fancier-output-formatting)

In [37]:
height = 165
print("Рост Наташи", height  // 100, "м", height % 100)

Рост Наташи 1 м 65

In [39]:
height = 165
print(f'Рост Наташи - {height // 100}м {height % 100}см.')

Рост Наташи - 1м 65 см.

In [41]:
pi = 3.1415926535897932384626433832795
print(f'Если округлить число пи до трех знаков, оно будет равно {pi:.5f}!')

Если округлить число пи до трех знаков, оно будет равно 3.14159!

In [42]:
a = "abc"
print(f'{a:^15}')

      abc

In [43]:
a = 10
print(f'{a:05}')

00010

#### Вложенные условия

Внутри условных операторов можно использовать любые блоки кода, например, все те же условные операторы, чтобы получить двойную вложенность.

Например, представьте, что вы пытаетесь проверить является ли год високосным.

1. Если год делится на 4 без остатка, перейдите на шаг 2. В противном случае перейдите к выполнению действия 5.
2. Если год делится на 100 без остатка, перейдите на шаг 3. В противном случае перейдите к выполнению действия 4.
3. Если год делится на 400 без остатка, перейдите на шаг 4. В противном случае перейдите к выполнению действия 5.
4. Год високосный (366 дней).
5. Год не високосный год (365 дней).

In [ ]:
year = int(input())

if year % 4 == 0:
    if year % 100 == 0:
        if year % 400 == 0:
            print('Год високосный')
        else:
            print('Год не високосный')
    else:
        print('Год високосный')
else:
    print('Год не високосный')

## Глава 0: ввод нескольких значений в одной строке и приколы строк

In [44]:
x, y, z = map(int, input().split())

1 2 3

In [45]:
print(x)
print(y)
print(z)

1
2
3

Как примерно это работает на примере ввода 1 2 3
```(python)
input()  # '1 2 3'
input().split()  # ['1', '2', '3']
map(int, input().split())  # [1, 2, 3] -- на самом деле это не совсем правда, но грубо говоря так
```

In [46]:
print("abc" in "dbiawebdaabcajbkebf")
print("a" in "hsba")

True
True

## Глава первая: цикл while

Пусть я хочу найти сумму квадратов целых чисел от 1 до $n$:
$$
s = 1 + 2^2 + \ldots + n^2
$$

In [ ]:
s = 0

s = s + 1
print(s)
s = s + 2**2
print(s)
s = s + 3**2
print(s)
# ну и сколько мы так будем продолжать?

Здесь мы приходим к циклам. Они (грубо говоря) нужны, чтобы не повторять один и тот же кусок кода! А еще чтобы количество повторений (**итераций**) опиралось на данные!


Первый тип цикла - `while`. Как выглядит синтаксис цикла while?
```
while <условие>:
    <блок кода, который исполняется, пока выполняется логическое условие выше>
```

Самая простая версия цикла while True выглядит так:

```
while True:
    <блок кода, который выполняется каждую итерацию>
    
   if <условие для прекращения кода>:
       <блок кода, который запускается при завершении цикла>
       break
```

Что важно:
1. двоеточие и пробелы **обязательны**!
2. пробелов обязательно 4 (четыре)
3. пробелов перед двоеточием **не** надо!

Этот цикл удобен, если переменная в условии меняется в теле цикла. Пример, хочу возводить вводимые числа в квадрат, пока мне не введут 0:

In [47]:
while True:
    n = int(input())
    if n == 0:
      print("Введен 0, мы выходим")
      break
    print(n ** 2)

2
4
5
25
0
Введен 0, мы выходим

In [48]:
n = int(input())
while n != 0:
    print(n ** 2)
    n = int(input())

2
4
5
25
0

In [49]:
# давайте решим задачу, с которой начали, циклом

n = int(input())
i = 1
sum = 0
while i <= n:
  sum += i ** 2
  print(sum)
  i += 1
  # i = i + 1

3
1
5
14

#### Задача
Напишем программу, которая будет спрашивать у пользователя, готов ли он начать подготовку к самостоятельной работе.

На каждой итерации цикла программа будет печатать строчку "Прошел еще 1 день." и спрашивать, готов ли студент начать подготовку.

Если студент вводит да, то программа печатает "Ура! Не получим 0" и завершает работу цикла;

Если студент вводит любое другое значение, программа печатает "Часики тикают, напомню через день".

#### Операторы continue и else

Иногда хочется уметь просто перейти на следующую итерацию цикла. Например, хотим выводить квадраты введенных чисел, только если исходное число нечетное:

In [50]:
while (n := int(input())):
  if n % 2 == 1:
    print(n**2)

3
9
4
0

In [51]:
n = int(input())
while n != 0: # while n:
  if n % 2 == 1:
    print(n ** 2)

  n = int(input())

3
9
9
81
0

In [52]:
# а можно вот так
while True:
  n = int(input())
  if n == 0:
    break
  if n % 2 == 0:
    continue
  print(n**2)
  print("qfvefffbhrj")

4
3
9
qfvefffbhrj
0

In [53]:
# а else зачем?
while (n := int(input())):
  if n % 2 == 0:
    continue
  print(n**2)
else:
  print("последнее введенное число 0")

3
9
2
0
последнее введенное число 0

In [57]:
# а else зачем?
while (n := int(input())):
  if n == 42:
    print("ввели секретное число, уходим, последнее введенное число -", n)
    break
  if n % 2 == 0:
    continue
  print(n**2)
else:
  print("последнее введенное число 0")

0
последнее введенное число 0

Итого есть 3 оператора оператора:
* `continue`: начинает следующий проход цикла, минуя оставшееся тело цикла
* `break`: досрочно прерывает цикл
* `else`: выполняется, только если не был вызван break

## Глава тоже первая: цикл for

Второй тип циклов $-$ это `for`. Его синтаксис такой:
```python
for Переменная in Список значений:
    # четыре пробела
    Дейстие/я, которые нужно выполнить, ПОКА переменная в списке значений
```

Что важно:
1. переменную в цикле **не** нужно инициализировать (создавать)
2. дефолтное значение для переменной `i`. если оно занято, то `j`, в крайнем случае `k`
3. двоеточие и пробелы **обязательны**!
4. пробелов обязательно 4 (четыре)
5. пробелов перед двоеточием **не** надо!

In [58]:
for i in "abc":
  print(i)

a
b
c

In [59]:
"a" in "abc"

True

### Как задать список значений?

* `range`

Синтаксис `range`:
```python
for Переменная in range(Начальное значание, Конечное значение, Шаг):
```
Пояснения (все, кроме конца, опционально):
1. Начальное значение $-$ то, с которого начинается перебор значений (включительно).
2. Конечное значение $-$ то, на котором перебор останавливается (если переменная больше или равна конечному значению, т.е. не включительно): `range(a, b)` $-$ это `[a, b)`
3. Шаг $-$ то, какая разница будет между каждым из значений.

Пример:

In [60]:
range(1, 10, 1)
# 1 2 3 4 5 6 7 8 9

for i in range(1, 10, 1):
  print(i)

1
2
3
4
5
6
7
8
9

In [61]:
for i in range(1, 10):
  print(i)

1
2
3
4
5
6
7
8
9

In [62]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [64]:
for i in range(10, 1, -1):
  print(i)

10
9
8
7
6
5
4
3
2

In [65]:
for i in range(1, 10, 2):
  print(i)

1
3
5
7
9

In [66]:
for i in range(10, -1, -2):
  print(i)

10
8
6
4
2
0

In [67]:
n = 7
for i in range(1, 101):
  if i % 7 == 0:
    n = i
print(n)

98

In [68]:
for i in range(100, 0, -1):
  if i % 7 == 0:
    print(i)
    break

98

In [ ]:
n = int(input())

s = 0
for i in range(1, n + 1):  # обратите внимание, что range(a, b) - это [a, b)
    s = s + i ** 2
    # s += i**2   # более короткая форма записи

print(s)

Такое же, но сумма четных:

In [ ]:
n = int(input())

s = 0
for x in range(1, n + 1):
    if x % 2 == 0:
        s += x
print(s)

Или еще чуть проще:

In [ ]:
n = int(input())

s = 0
for x in range(2, n + 1, 2):  # а можно еще проще, если n = 10, то рассмотрим 2, 4, 6, 8, 10
    s += x
print(s)

Можно сразу две суммы считать:

In [ ]:
n = int(input())

s1, s2 = 0, 0
for x in range(1, n + 1):
    if x % 2 == 0:
        s1 += x
    else:
        s2 += x

print(s1, s2)

Если левая граница (начало) `range` не указана, то она считается 0, если не указан шаг, по умолчанию он равен 1.

А еще `range` можно делать не только по положительным и не только вперед!

In [70]:
for _ in range(6):  # 0, 1, 2, 3, 4, 5
    print("Hello, world")

Hello, world
Hello, world
Hello, world
Hello, world
Hello, world
Hello, world

In [ ]:
for i in range(-10, 0):  # что выведет?
    print(i)

In [ ]:
for i in range(10, 1, -1):  # а тут?
    print(i)

In [ ]:
for i in range(10, 0, -2):  # а вот тут?
    print(i)

Обратите внимание на самую верхнюю ячейку. Там мы видим `_` вместо переменной для игнорирования ненужных нам значений переменной в цикле. Так правильно делать, когда вы не используете переменную в теле цикла.

Из (бес)полезного: после выполнения цикла переменная на самом деле никуда не удаляется.

In [71]:
for i in range(10): # числа от 0 до 9 включительно
    pass  # так можно просто скипнуть, ничего не делая, еще работает просто написать ...

print(i)

9

In [72]:
type(...)

ellipsis

* по строчкам (правильнее сказать, что по итерируемым объектам)

```python
for Переменная in Строка
```

In [ ]:
for letter in range(1, 10):
  pass

In [73]:
word = input()

vowels = 'aeiou'
for letter in word:
    if letter in vowels:
        print(letter)

epl
e

In [ ]:
# пример continue в for
word = input()

vowels = 'aeiou'
for letter in word:
    if letter not in vowels:
        continue  # skip
    print(letter)  # выполнится только тогда, когда не сделали continue, поэтому else можно опустить

In [ ]:
# пример else и break в for
word = input()

vowels = 'aeiou'
for letter in word:
    if letter in vowels:
        print("Found first vowel:", letter)
        break  # завершает цикл
else:  # else после цикла выполнится если в нем не был сделан break и только тогда
    print("Word has no vowels")

In [ ]:
# Задача вводить все числа, пока не будет пустой строки и считать положительные среди чисел.

positive = 0

while x := input('Введите целое число: '):  # x != ''
    x = int(x)
    if x > 0:
        positive += 1
print('Среди чисел положительных было', positive)

#### Задачка без циклов

Дана строка - города через запятую: cities = "'Москва', 'Пермь', 'Краснодар', 'Калининград', 'Якутск'"
На первой строке вводится название города, который нужно проверить.
Затем вводится вес груза, который нужно доставить.

* Если город есть в списке, и вес не превышает 1000, то программа печатает фразу "Готовьте к отгрузке". Фраза сохранена для вас в переменную shipment.
* Если город есть в списке, но вес превышает 1000, то программа печатает фразу "Разделите на несколько посылок". Фраза сохранена для вас в переменную multiple_packages.
* Во всех остальных случаях программа печатает фразу "Обратитесь в другую компанию". Фраза сохранена для вас в переменную other_company.

In [ ]:
cities = "'Москва', 'Пермь', 'Краснодар', 'Калининград', 'Якутск'"

shipment = 'Готовьте к отгрузке'
multiple_packages = 'Разделите на несколько посылок'
other_company = 'Обратитесь в другую компанию'

#### Задача базированная

Вводится последовательность чисел, в конце обязательно вводится слово "СТОП". Хотим посчитать сумму чисел и вывести ее на экран. Если чисел введено больше 10 - прерываем программу и печатаем, "Слишком сложно", если вводится число 200 - печатаем "Вы нашли пасхалку", если дошли до конца последовательности, то печатаем на экран "Ура, мы справились"

#### Задача тоже базированная

Вводится последовательность вещественных чисел - температура в Москве. Температуру продолжаем вводить, пока не будет подряд 3 отрицательных значений, в конце на экран выводим среднюю температуру

#### Задача про котика

Пользователь наблюдает за котиком: если котик мяукает, то вводится да, программа печатает "Наверное, котик голодный, выдадим ему корм". Если количество выданных порций корма станет больше 4, программа должна печатать "Наверное, котика стоит погладить, еды уже достаточно", если котика погладили больше 3 раз, программа должна завершиться. Если котик не мяукает (т е вводится любое слово, кроме да) - программа завершается с фразой "Котика беспокоить не надо"

#### Задача угадайка

Загадывается рандомное число от 0 до 99. У пользователя 10 попыток на отгадывание. После ввода числа, программа должна дать подсказку: загаданное число больше введенного или меньше. Если попыток больше 10, печаем "Вы проиграли", если ввели правильное число, то печатаем "Вы выиграли".

In [ ]:
from random import randrange
N = randrange(0, 100)
N

#### Задача непростая

Дана последовательность натуральных чисел, завершающаяся числом 0. Определите, какое наибольшее число подряд идущих элементов этой последовательности равны друг другу.

#### Еще задача

Вводится число n. Нужно напечатать все делители n

#### И еще задача

Вводится 2 числа в одной строке n и m. Гарантируется, что n меньше m. Пока введенное значение больше n и меньше m выводим "Вы попали в ограничение, попробуйте еще раз". Если значение не попало в диапазон, печатаем "Победа" и завершаем программу. Если введенное значение делится на 13, выводим "Это было ошибкой" и переходим к следующему числу.

### Поговорим про неизменяемость подробнее

In [ ]:
n = 1
m = 1
print(id(n)) # id - метод который показывает, где в памяти лежит объект
print(id(m))

n += 1
print(id(n))
print(id(m))

In [ ]:
n = 123532
m = 123532
print(id(n))
print(id(m))