# Семинар 3

### Глава 1: списки

Если вы когда-то программировали на каком-либо другом языке, скорее всего, в нем точнее есть массивы (или, например, векторы, как в C++).

Список в питоне - это некоторая коллекция, которая хранит в себе последовательность чего-либо, важно, что это "что-либо" может быть совершенно разным даже внутри одного списка.

In [ ]:
numbers = [1, 5, 3, 8, 2, -1, 0]

print(len(numbers))
print(numbers)
print(len("abc"))

In [ ]:
whatever = [1, "abc", None, -1, 1.2, [1, 2, 3, 4]]  # можно хранить что угодно, нет строгой типизации
print(whatever)

In [47]:
my_list = []  # пустой список, можно также написать my_list = list()

my_list.append(5)  # добавим в конец списка
my_list.append(4)
my_list.append(3)
my_list.append(2)
my_list.append(1)

print(my_list)
print(len(my_list))  # так можно получить длину

[5, 4, 3, 2, 1]
5

In [49]:
my_list[3]

2

In [ ]:
my_list

In [50]:
print('my_list[0] =', my_list[0])  # первый элемент -- индексация с нуля
print('my_list[1] =', my_list[1])  # второй
print('my_list[:2] =', my_list[:2])  # срез -- первые два
print('my_list[1:3] =', my_list[1:3])  # срез со второго по четвертый
print('my_list[-1] =', my_list[-1], my_list[len(my_list) - 1])  # последний элемент, два разных способа
print('my_list[-2] =', my_list[-2])  # предпоследний
print('my_list[-3:-1] =', my_list[-3:-1])  # а это какие будут?
print('my_list[0:5:2] =', my_list[0:5:2])  # можно как и в циклах задать шаг
print('my_list[5] =', my_list[5])  # ошибка, такого нет

my_list[0] = 5
my_list[1] = 4
my_list[:2] = [5, 4]
my_list[1:3] = [4, 3]
my_list[-1] = 1 1
my_list[-2] = 2
my_list[-3:-1] = [3, 2]
my_list[0:5:2] = [5, 3, 1]

IndexError: list index out of range

In [52]:
# давайте подумаем как пройтись перевернуть список т е сделать из [1, 2, 3] -> [3, 2, 1]?
# а что будет если из списка выше сделать my_list[:10]
a = [1, 2, 3]
print(a[::-1])
my = [5, 4, 3, 2, 1]
my_list[:10]

[3, 2, 1]

[5, 4, 3, 2, 1]

In [53]:
numbers = [1, 5, 3, 8, 2, -1, 0]
print(*numbers) # 1, 5, 3, 8, 2, -1, 0 print(1, 5, 3, 8, 2, -1, 0)

1 5 3 8 2 -1 0

In [55]:
print(numbers)

[1, 5, 3, 8, 2, -1, 0]

In [56]:
# выводить список красиво можно разными способами

numbers = [1, 5, 3, 8, 2, -1, 0]

print(*numbers)
print(*numbers, sep=".")

# for i in range(6) 0 1 2 3 4 5
for i in range(len(numbers)):  # [0 1 ... len(numbers) - 1]
    print(numbers[i], end=" ")
print()

for elem in numbers:
    print(elem, end=" ")
print()  # пустой принт на самом деле выводит специальный символ \n -- символ перевода строки

1 5 3 8 2 -1 0
1.5.3.8.2.-1.0
1 5 3 8 2 -1 0
1 5 3 8 2 -1 0

In [ ]:
# список изменяемый, можно даже присвоить срезу
a = [1, 2, 3]

a[0] = 0
print(a)

a[:2] = [5, 6]
print(a)

In [57]:
# вот так копировать плохо!
a = [1, 2, 3]
b = a
print(b)

# и вот почему

a[0] = 0

print(a, id(a))  # ячейки памяти одинаковые
print(b, id(b))

[1, 2, 3]
[0, 2, 3] 134832331475840
[0, 2, 3] 134832331475840

In [59]:
# но копировать можно так

a = [1, 2, 3]
b = a[:]  # потому что срез создает новый массив

a[0] = 0

print(a, id(a))  # ячейки памяти разные
print(b, id(b))

[0, 2, 3] 134832332316032
[1, 2, 3] 134832332315584

In [60]:
# или вот так

from copy import deepcopy

a = [1, 2, 3]
b = deepcopy(a)

a[0] = 0

print(a, id(a))  # ячейки памяти разные
print(b, id(b))

[0, 2, 3] 134832332806400
[1, 2, 3] 134832880696512

In [61]:
# или даже так

a = [1, 2, 3]
b = a.copy()
a[0] = 0

print(a, id(a))  # ячейки памяти разные
print(b, id(b))


a = [1, 2, 3, [2, 3]]
b = a.copy()
b[3][0] = 1

print(a, id(a))  # ячейки памяти разные
print(b, id(b))

[0, 2, 3] 134832878428416
[1, 2, 3] 134832335285632
[1, 2, 3, [1, 3]] 134832335280576
[1, 2, 3, [1, 3]] 134832332995072

In [ ]:
# срезы не спасут, если у вас список в списке, потому что [1, 2, 3] все еще будет лежать в одной и той же памяти

a = [[1, 2, 3], [4, 5, 6]]
b = deepcopy(a)

a[0][0] = -1
print(a, id(a[0]))
print(b, id(b[0]))

In [ ]:
# а вот со срезами так не происходит, прикиньте! подумайте, почему

a = [1, 2, 3]
b = [5, 6]

a[:2] = b
b[1] = 7

print(a)
print(b)

In [63]:
# про интернирование в питоне

print(id(1))  # <---- тут
print(id(1))  # <---- и тут адреса совпадают

print("-----------")

print(id(2489284))  # <---- а вот тут
print(id(2489284))  # <---- и вот тут нет

print("-----------")

print(id("abc"))  # <---- слишком маленькая строчка, чтобы адреса были разные
a = "abc"
b = "abc"
print("new", id(a), id(b))
print(id("abc"))

print("-----------")

s, t = "abcdefghijklmnopqrstuvwxyz", "abcdefghijklmnopqrstuvwxyz"
print(id(s))  # <---- тоже слишком маленькая строчка
print(id(t))

print("-----------")

s, t = "a" * 100, "a" * 100 # <---- да и эта тоже
print(id(s))
print(id(t))

print("-----------")

s, t = "a" * 10000, "a" * 10000
print(id(s))  # <---- а вот тут уже нет
print(id(t))

11654376
11654376
-----------
134832333256656
134832333255024
-----------
10797920
new 10797920 10797920
10797920
-----------
134833299716048
134833299716048
-----------
134832879583024
134832879583024
-----------
346933280
350992272

In [65]:
# вот так можно вводить списки

my_list = list(map(int, input().split())) # аналогично можно заменить на float, например
# а вот так можно? [map(int, input().split())]
print(my_list)

my_list = [map(int, input().split())]

2 3 4
[2, 3, 4]
1 2 3

In [66]:
my_list

In [73]:
list(map(int, range(1, 10)))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [71]:
for i in 1234:
  print(i)

TypeError: 'int' object is not iterable

In [69]:
# list("seminar3")

new_list = []
for s in "seminar3":
    new_list.append(s)

In [70]:
new_list

['s', 'e', 'm', 'i', 'n', 'a', 'r', '3']

In [74]:
list("seminar3")

['s', 'e', 'm', 'i', 'n', 'a', 'r', '3']

In [75]:
list(range(1, 10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [67]:
my_list = [int(x) for x in input().split()]

2 3 4

In [68]:
my_list

[2, 3, 4]

In [ ]:
my_list = input().split()  # список строк, разделенных по пробелу
print(my_list)

In [ ]:
my_list = list(input())  # а что произойдет тут?
print(my_list)

In [ ]:
print(range(1, 10))
print(list(range(1, 10)))  # в list можно преобразовать любой генератор, в том числе range
# про генераторы позже поговорим, но map -- это как раз тоже пример генератора

In [ ]:
print(list("abcdef"))  # ну и любой объект, коллекцию, по которому можно пройтись, например, for'ом

# а вообще из того что мы знаем, по каким типам можно пройтись for?

In [ ]:
from random import shuffle

my_own_list = [1, 2, 3]

my_own_list.extend([4, 5, 6])  # аналогично можно написать my_own_list += [4, 5, 6]
print('after extend:', my_own_list)

my_own_list.append(7)  # "константное" время, амортизированно O(1)
print('after append:', my_own_list)

del my_own_list[0]  # линейное время, в худшем случае O(n), где n -- размер списка
print('after del:', my_own_list)

print('index of value 2:', my_own_list.index(2))  # находим элемент в массиве, линейный поиск на O(n)

print('popped value:', my_own_list.pop())  # удаление из конца, быстро, за O(1), возвращает удаленное значение
print('after pop', my_own_list)

my_own_list.insert(0, 1)  # тоже дорого, O(n) времени
print('after insert(0, 1):', my_own_list)

my_own_list.reverse()  # развернем список!
print('after reverse:', my_own_list)

shuffle(my_own_list)
print('after shuffle:', my_own_list)

my_own_list.sort()  # а еще тут есть параметр reverse=True, если надо в обратную сторону
m = sorted(my_own_list)
# или my_own_list = sorted(my_own_list)
print('after sort:', my_own_list)

my_own_list.remove(6)
print('after remove 6:', my_own_list)

my_own_list.clear()
my_own_list = []
print('after clear:', my_own_list)

my_own_list.remove(6)  # а вот так уже нельзя :(
print('after remove 6 when it is not present:', my_own_list)

### Глава 2: кортежи

Или неизменяемые (иммутабельные) списки

In [76]:
my_tuple = (1, 2, 3)

# можно делать то же самое, что и со списками, только менять нельзя

print(my_tuple[0])
print(my_tuple[1:3])
print(len(my_tuple))
my_tuple[0] = -1  # так нельзя

1
(2, 3)
3

TypeError: 'tuple' object does not support item assignment

In [77]:
# есть идеи что будет, если поскладываем кортежи?

a = (1, 2, 3)
a += (1, 2)

In [78]:
a

(1, 2, 3, 1, 2)

In [79]:
for elem in my_tuple:
    print(elem)

1
2
3

In [81]:
# обратите внимание, для кортежа из одного элемента запятая важна, это очень частая ошибка
print(type((1)))
print(type((1,)))

<class 'int'>
<class 'tuple'>

In [80]:
type((1))

int

In [ ]:
# у этого подхода есть плюсы, например, вы нигде в коде не выстрелите себе в ногу
# а еще кортеж есть меньше места

a = [1, 2, 3]
b = (1, 2, 3)

print(a.__sizeof__())  # почему так? потому что выделяется доп пямять, так называемый резерв
print(b.__sizeof__())  # а кортеж занимает меньше памяти

In [ ]:
# в этом сниппете кода мы смотрим на то, как питон динамически аллоцирует память
# на каждую степень двойки (почти) он переаллоциррует память в два раза
# это дает амортизированную оценку стоимости одной операции вставки в конец равной константе

my_own_list = []
print(len(my_own_list), my_own_list.__sizeof__())
for i in range(17):
    my_own_list.append(i)
    print(f"length = {len(my_own_list)}, size = {my_own_list.__sizeof__()}")

In [ ]:
# причем количество байт, которые питон выделяет на вставку каждого элемента,
# оно константно и равно 8, как можно заметить, вне зависимости от того, что там лежит
# почему -- потому что все по ссылкам, в списке лишь ссылки на элементы, а не они сами
# это и позволяет хранить в списке вообще что угодно

my_own_list = []
print(len(my_own_list), my_own_list.__sizeof__())
for i in range(17):
    my_own_list.append("ab" * 10000)
    print(f"length = {len(my_own_list)}, size = {my_own_list.__sizeof__()}")

#### Последнее на сегодня: превращение строки в список и обратно

Метод `split` - создает список из строки, в скобках задается разделитель, по которому формируются отдельные строки, по умолчанию это пробел.

Метод `join` - наоборот собирает список строк в список, разделителя по умолчанию нет, синтаксис следующий  `'разделитель'.join(["a", "b", "c"])`

In [84]:
a = "a bb c bb d bb "

# а что тут будет?
a.split(" bb ")

['a', 'c', 'd', '']

In [85]:
'some_join_str'.join(["A", "B", "C"])

'Asome_join_strBsome_join_strC'

In [86]:
# а вот так можно?

', '.join(["яблоки", 111, "апельсины"])

TypeError: sequence item 1: expected str instance, int found

In [87]:
# а вот так?
', '.join([222, 111, 333])

TypeError: sequence item 0: expected str instance, int found

In [88]:
# а может вот так?
', '.join(("222", "111", "333",))

'222, 111, 333'

In [89]:
# напоследок?

', '.join("abc")

'a, b, c'

## Задачки

В одной строке вводятся целые числа, нужно посчитать сколько четных и сколько нечетных было введено

В строке вводятся слова через пробел, нужно создать список, содержащий длины этих слов и вывести его на экран

Напишите программу, которая будет спрашивать у пользователя фамилии друзей, с которыми он общался за последнюю неделю и выводит справочную информацию о ваших друзьях:

- Информация считывается с помощью функции input();

- Отсортировать значения вы можете с помощью функции sorted();

- Фамилии ваших друзей будут разделены запятой с пробелом;

- Гарантируется, что будут введены только строки

Пример:

input:

Музыка, Морозов, Егерева

output:

За последнюю неделю вы общались с 3 друзьями.
Отсортированный список ваших друзей: ['Егерева', 'Морозов', 'Музыка']

Напишите программу, которая будет считывать информацию о блюдах в ресторане и их ценах и выводить подходит ли блюдо под бюджет. Формат ввода: в 1 строке вводятся блюда через "; " в формате блюдо: цена в рублях, в следующей строке вводится целое число - бюджет на покупку.

Пример:

input:

хинкали: 600; сок: 200; куриный бульон: 400

450

output:

сок, куриный бульон