# Программирование на Python

# Множества и словари.

Сегодня у нас будет очень много фигурных скобочек `{}`. Визуально вы можете их встретить при работе с множествами и со словарями, однако важно помнить, что это два разных типа данных. Сначала разберемся с множествами.

## Множества

`set` - изменяемая структура данных, позволяет хранить неповторяющиеся объекты и быстро проверять их наличие.  

### Создание множеств <a name="par1.1"></a>

Способов создать множество два:
1. через функцию `set()`;
2. через фигруные скобки;
3. через set comprehension.

In [ ]:
A = set('qwerty')
print(A)

{'t', 'e', 'y', 'w', 'r', 'q'}

Первый на вход обязательно принимает итерируемый объект. Убедимся в этом, скормив ему целое число:

In [ ]:
A = set(12)
print(A)

TypeError: 'int' object is not iterable

Обратим внимание, что просто фиругные скобки принимают любые <u>неизменяемые</u> объекты.

In [ ]:
B = {'qwerty', 12, True, 12.4, (1, 2, 3)}
print(B)

{True, 'qwerty', (1, 2, 3), 12, 12.4}

In [ ]:
B['qwerty']

TypeError: 'set' object is not subscriptable

Если мы попробуем тоже самое сделать с именяемыми объектами (например, списками или множествами), то увидим ошибку:

In [ ]:
B = {[1,'2', 3]}
print(B)

{3, 1, '2'}

И последний вариант: через for, видели, что так можно создать список, тут тот же принцип

In [ ]:
even = {i for i in range(10) if i%2 == 0}
print(even)

{0, 2, 4, 6, 8}

In [ ]:
D = set()
print(D, type(D))

b = {}
print(b, type(b))


# какой тип будет если создать {}

set() <class 'set'>
{} <class 'dict'>

Что еще важно знать о множествах? Элементы в них не упорядочены. А при попытке запихнуть в них повторяющиеся элементы, останется только один уникальный.

In [ ]:
a = {1, 1, 2, 4}
print(*a)

1 2 4

In [ ]:
s = {1, 2, 3 * 1e6, 'x' * 20, 'y', 'z', (1, 2 , 3)}
for i in range(4):
  for set_item in s:
    print(set_item, end=' ')
  print('\n') # сколько пустых строк будет между выводами setов, будет ли вывод отличаться?

3000000.0 1 2 z xxxxxxxxxxxxxxxxxxxx (1, 2, 3) y

3000000.0 1 2 z xxxxxxxxxxxxxxxxxxxx (1, 2, 3) y

3000000.0 1 2 z xxxxxxxxxxxxxxxxxxxx (1, 2, 3) y

3000000.0 1 2 z xxxxxxxxxxxxxxxxxxxx (1, 2, 3) y

In [ ]:
s = {1, 2, 2, 2}
print(s)

In [ ]:
E = {3, 5, 9, 2, 3}
print(E)

In [ ]:
## как думаете по индексу можно обратиться?
print(E[0])

### Методы изменения множеств <a name="par1.2"></a>

+ Сначала обсудим разницу между `.add()` и `.update()`. Оба они добавляют элементы в множество, однако второй работает с итерируемыми объектами.

In [ ]:
#вспоминаем, итерируемые объекты это кто?

products = {'яблоки', 'апельсины', 'груши'}
products.add('бананы')
print(products)

{'бананы', 'яблоки', 'груши', 'апельсины'}

In [ ]:
len(products)

4

In [ ]:
'яблоки' in products

True

In [ ]:
1 in products

False

In [ ]:
products = {'яблоки', 'апельсины', 'груши'}
products.update(('киви', 'виноград'))
print(products)

{'апельсины', 'груши', 'яблоки', 'киви', 'виноград'}

Проверьте сами, что наоборот они работать не будут.

+ Для удаления конкретного элемента из множества используется `.remove()`, а если нужно удалить сразу несколько элементов — `.difference_update()`.

In [ ]:
products.remove('апельсины')
print(products)

{'груши', 'яблоки', 'киви', 'виноград'}

In [ ]:
products.difference_update(['груши', 'яблоки'])
print(products)

{'киви', 'виноград'}

In [ ]:
products = {1, 2, 3}
products.remove(1) # что будет?
print(products)
products.remove(1) # а тут что будет?

{2, 3}

KeyError: 1

Чтобы избежать ее, можно пользоваться методом `.discard()` — он не будет возвращать ошибку.

In [ ]:
products.discard('апельсины')
print(products)

{2, 3}

И последний метод, который изменяет само множество, — `.pop()`. Он вытаскивает элемент рандомно, при этом дает возможность сохранить его в переменную:

In [ ]:
get_product = products.pop()
print(get_product, products)

2 {3}

In [ ]:
"""
на самом деле чаще для работ с множествами все пишут +=, -= и т д
т е .difference_update() то же самое, что и -= {"some_item"},
кстати я многострочный коммент, оцените как удобно, если еще не видели
"""

s = {1, 2, 3}
s.difference_update([1])
print(*s)
s.difference_update({1})
print(*s)

s = {1, 2, 3}
s -= {1}
print(*s)
s -= {1}
print(*s)

2 3
2 3
2 3
2 3

<center><b><font size=4>Задача №1</font></b></center>

**Иван хочет понять, какие еще предметы он может включить в свой учебный план. Напишите программу, которая принимает на вход строку с названиями предметов в его учебном плане, название нового предмета который Иван хочет включить в УП, и выводит информацию о том можно ли его включить в УП и названия курсов Ивана в УП:**

* Сперва программа принимает на вход перечисленные через запятую с точкой и пробелом **названия курсов в учебном плане** и **преобразует эту строку в множество `set`**;
* Далее программа принимает на вход **название курса, который студент хочет включить в учебный план**;
* Если этот курс **уже включен в учебный план**, программа печатает `Вы уже изучали этот предмет`;
* Если этот курс **еще не включен в учебный план**, программа печатает `Вы еще не изучали этот предмет` и **добавляет новое значение в множество**.

* В конце программа выводит **отсортированный в алфавитном порядке список предметов в учебном плане**.



* *Обратите внимание: Названия предметов перечислены через точку с запятой и пробел*;
* <font color='orange'>Использование множеств и методов множеств при решении этой задачи является обязательным. </font>



**Ориентируйтесь на тесты ниже:**
<center>
    <table>
        <tr>
            <th><center>Ввод</center></th>
            <th><center>Результат</center></th>
        </tr>
        <tr><td><p>Анализ данных; Категории политической науки; Python; R; ТВиМС; Регрессионный анализ</p>
                <p>ТВиМС</p></td>
            <td><p>Вы уже изучали этот предмет</p>
                <p>['Python', 'R', 'Анализ данных', 'Категории политической науки', 'Регрессионный анализ', 'ТВиМС']</p></td></tr>
        <tr><td><p>Python; Python; Python; История политических учений</p>
                <p>R</p></td>
            <td><p>Вы еще не изучали этот предмет</p>
                <p>['Python', 'R', 'История политических учений']</p></td></tr>
        <tr><td>        
            <p>История России; Новейшая история; КПН; ИПУ; История России; Python</p>
            <p>Python</p></td>
            <td><p>Вы уже изучали этот предмет</p>
<p>['Python', 'ИПУ', 'История России', 'КПН', 'Новейшая история']</p></td></tr>
    </table>
</center>

In [ ]:
courses = input()
courses_set = set(courses.split('; '))
new_course = input()
if new_course in courses:
  print ('Вы уже изучали этот предмет')
else:
  print ('Вы еще не изучали этот предмет')
  courses_set.add(new_course)
courses_list = list(courses_set)
sorted_list = sorted(courses_list)
print(sorted_list)

Python; Python; Python; История политических учений
R
Вы еще не изучали этот предмет
['Python', 'R', 'История политических учений']

### Операции для работы с множествами <a name="par1.3"></a>

Важно! Операции для работы с множествами множество не изменяют, а буквально создают новый объект.

**Здесь и далее мы будем говорить про разные методы и использовать такие термины, как `intersection`, `symmetric_difference`, `difference`, `union`. Чтобы не запутаться и разобраться в том, что возвращают определенные операции работы с множествами, смотрите на это изображение:**

![пик](https://www.learnbyexample.org/wp-content/uploads/python/Python-Set-Operatioons.png)

Предположим, у нас есть множество респондентов, которые любят кофе, и множество респондентов, которые любят чай.

Вопрос — кто из них любит и то, и то?

In [ ]:
# Пересечение множеств

coffee = {'Влад', 'Катя', 'Рита', 'Дима'}
tea = {'Рита', 'Дима', 'Настя', 'Максим'}

print(coffee.intersection(tea))
print(coffee & tea)

{'Рита', 'Дима'}
{'Рита', 'Дима'}

Вопрос — кто из них любит что-то одно (т.е. не находится на пересечении)?

In [ ]:
# Симметрическая разность множеств
coffee = {'Влад', 'Катя', 'Рита', 'Дима'}
tea = {'Рита', 'Дима', 'Настя', 'Максим'}

print(coffee.symmetric_difference(tea))
print(coffee ^ tea)

{'Влад', 'Максим', 'Настя', 'Катя'}
{'Влад', 'Максим', 'Настя', 'Катя'}

Вопрос — кто любит только кофе?

In [ ]:
# Разность множеств coffee и tea
coffee = {'Влад', 'Катя', 'Рита', 'Дима'}
tea = {'Рита', 'Дима', 'Настя', 'Максим'}

print(coffee.difference(tea))
print(coffee - tea)

{'Катя', 'Влад'}
{'Катя', 'Влад'}

Вопрос — кто любит только чай?

In [ ]:
# Разность множеств tea и coffee
coffee = {'Влад', 'Катя', 'Рита', 'Дима'}
tea = {'Рита', 'Дима', 'Настя', 'Максим'}

print(tea.difference(coffee))
print(tea - coffee)

{'Настя', 'Максим'}
{'Настя', 'Максим'}

Вопрос — сколько у нас всего респондентов?

In [ ]:
# Объединение множеств
coffee = {'Влад', 'Катя', 'Рита', 'Дима'}
tea = {'Рита', 'Дима', 'Настя', 'Максим'}

print(coffee.union(tea))
print(coffee | tea)
print(len(coffee.union(tea)))

{'Рита', 'Настя', 'Катя', 'Влад', 'Дима', 'Максим'}
{'Рита', 'Настя', 'Катя', 'Влад', 'Дима', 'Максим'}
6

С основным разобрались. Теперь не основное, но важное.

Те же самые команды, НО с добавлением к ним `_update()` меняют множество! Приведем пример с `intersection_update()`, а остальное проверьте сами!

In [ ]:
coffee = {'Влад', 'Катя', 'Рита', 'Дима'}
tea = {'Рита', 'Дима', 'Настя', 'Максим'}

# Пересечение множеств coffee и tea

print(coffee)
print(tea)

coffee.intersection_update(tea)

print('Посмотрим, что изменилось после использования coffee.intersection_update(tea): ')
print(coffee) # сюда сохранилось пересечение множеств!
print(tea)

In [ ]:
coffee = {'Влад', 'Катя', 'Рита', 'Дима'}
tea = {'Рита', 'Дима', 'Настя', 'Максим'}

# Пересечение множеств coffee и tea

print(coffee)
print(tea)

coffee &= tea # тоже самое

print(coffee) # сюда сохранилось пересечение множеств!
print(tea)

Осталось три метода — `.issubset()`, `.issuperset()` и `.isdisjoint()`.

+ `.issubset()` проверяет, что множество является <i>подмножеством</i> другого множества
+ `.issuperset()` проверяет, что множество является <i>надмножеством</i> другого множества
+ `.isdisjoint()` проверяет, что у множеств нет пересекающихся элементов

Все три метода выдают либо `False`, либо `True`.

<center><b><font size=4>Задача №2</font></b></center>

**Напишите программу, которая печатает вам информацию о студентах и курсах по выбору, на которые они записались:**


**Заранее созданы строки с именами:**
* `students_1` – студенты, которые выбрали КПВ "Ислам и политика"
* `students_2` – студенты, которые выбрали КПВ "Политическая система США"
* `students_3` – студенты, которые выбрали КПВ "Web-scraping"

**Напечатайте следующую информацию:**

* Имена студентов, которые **пошли на курс "Ислам и политика" и пошли на курс "Полит. система США"**;
* Имена студентов, которые **пошли на курс "Ислам и политика", но не пошли на курс "Полит.система США"**;
* Имена студентов, которые **пошли на курс "Web-Scraping", но не пошли на другие два курса**.

<font color='orange'>Использование методов множеств обязательно.</font>

In [ ]:
students_1 = 'Аня Даша Глаша Наташа Марина Ирина' # выбрали КПВ "Ислам и политика"
students_2 = 'Даша Глаша Марина'                  # выбрали КПВ "Политическая система США"
students_3 = 'Ирина Наташа Аня Даша Глафира Зина' # выбрали КПВ "Web-scraping"


# YOUR CODE HERE

print(f'На курс "Ислам и Политика" и курс "Полит. система США" пошли: {# YOUR CODE HERE}')
print(f'Выбрали курс "Ислам и политика", но не выбрали курс "Полит. система США": {# YOUR CODE HERE}')
print(f'Пошли на курс "Web-scraping", но не пошли на остальные курсы: {# YOUR CODE HERE}')

### Неизменяемое множество <a name="par1.4"></a>

Очевидно, что любые методы, которые могут изменять множество, тут не работают. Конец.

Ладно, все-таки сделаем одно такое множество и покажем, что с ним работает.

In [ ]:
X = frozenset(1, 2, 4)

TypeError: frozenset expected at most 1 argument, got 3

Ой, что-то пошло не так. Помним, что эта функция, аналогично функции `set()` работает только с итерируемыми объектами!

In [ ]:
X = frozenset(['10', 2, 3, '8', 6, '7'])
Y = frozenset((3, 4, '6', 2, '3', 8))
print(X)
print(Y)

frozenset({2, 3, '7', 6, '10', '8'})
frozenset({2, 3, 4, '6', 8, '3'})

Вот все, что работает:

In [ ]:
print(f'У множеств нет общих элементов (True/False): {X.isdisjoint(Y)}')

print(f'Множество Х является подмножеством Y (True/False): {X.isdisjoint(Y)}')

print(f'Множество Х является надмножеством Y (True/False): {X.issuperset(Y)}')

print(f'Пересечение множеств Х и Y: {X.intersection(Y)}')

print(f'Объединение множеств Х и Y: {X.union(Y)}')

print(f'Симметрическая разность множеств Х и Y: {X.symmetric_difference(Y)}')

print(f'Разность множеств Х и Y: {X.difference(Y)}')

print(f'Разность множеств Y и X: {Y.difference(X)}')

У множеств нет общих элементов (True/False): False
Множество Х является подмножеством Y (True/False): False
Множество Х является надмножеством Y (True/False): False
Пересечение множеств Х и Y: frozenset({2, 3})
Объединение множеств Х и Y: frozenset({2, 3, '7', 4, 6, '10', '6', 8, '3', '8'})
Симметрическая разность множеств Х и Y: frozenset({'7', 4, 6, '10', '6', 8, '3', '8'})
Разность множеств Х и Y: frozenset({'10', '7', '8', 6})
Разность множеств Y и X: frozenset({'6', 8, '3', 4})

## Словари

### Создание словаря, ключи и значения <a name="par2.1"></a>

Самое важное (что бы для вас сейчас это ни значило): начиная с Python 3.7 словари стали упорядоченными!

Словарь можно создать четырьмя способами:

1. Фигурными скобками (это уже было выше)

In [ ]:
new_dict1 = {}
print(new_dict1, type(new_dict1))

new_dict1 = {'Математика' : [3, 5, 2, 3, 5], 'Русский язык' : [2, 4, 1, 5, 3]}
print(new_dict1, type(new_dict1))

{} <class 'dict'>
{'Математика': [3, 5, 2, 3, 5], 'Русский язык': [2, 4, 1, 5, 3]} <class 'dict'>

При таком создании словаря обратите внимание на тип записи: `ключ : значение`!

Далее логичный вопрос: что может быть ключом словаря, а что — значением?

| Ключ / неизменяемый тип |
|:---:|
| числа      |
| строки       |
| кортежи       |
| логический тип      |
| frozenset      |


Значением может быть любой тип данных.

Попытка создания словаря, где ключ представлен изменяемым типом, приведет к ошибке:

In [ ]:
# ключ — список, значение — строка
new_dict_try = {[1, 2] : '1'}

TypeError: unhashable type: 'list'

Если очень упрощать, то ошибка как раз и ругается на то, что список — объект изменяемый.

2. Также создать словарь можно с помощью функции `dict()`, однако вместо двоеточия там будет знак равно.

In [ ]:
new_dict2 = dict()
print(new_dict2, type(new_dict2))

new_dict2 = dict(Математика = [3, 5, 2, 3, 5], Русский_язык = [2, 4, 1, 5, 3])
print(new_dict2, type(new_dict2))

{} <class 'dict'>
{'Математика': [3, 5, 2, 3, 5], 'Русский_язык': [2, 4, 1, 5, 3]} <class 'dict'>

Надесь, вы обратили внимание, что ключи словаря в такой вариации его создания записываются без кавычек, однако они должны быть целыми (то есть, если написать `Русский_язык` раздельно (`Русский язык`), то будет ошибка).

3. Можно создать словарь с помощью метода `.fromkeys()`. В качетстве значения он всем ключам подставляет одно единственное (которое мы укажем).

In [ ]:
new_dict3 = dict.fromkeys(['Математика', 'Русский_язык'], [])
print(new_dict3)

{'Математика': [], 'Русский_язык': []}

In [ ]:
new_dict3["Математика"]

[]

4. Функция `zip()` может создать словарь из двух итерируемых объектов. Например, их двух списоков:

In [ ]:
new_dict4 = dict(zip(['Математика', 'Русский язык'], [[3, 5, 2, 3, 5], [2, 4, 1, 5, 3]]))
print(new_dict4)

{'Математика': [3, 5, 2, 3, 5], 'Русский язык': [2, 4, 1, 5, 3]}

Очень хочу, чтобы вы внимательно посмотрели на все скобки выше и разобрались с тем, почему их так много!

### Методы словарей <a name="par2.2"></a>

|Есть в онлайн-курсе | Все остальное |
|:--------------:|:-----:|
| `.keys()` |  `.get()` |
| `.values()`      |  `.update()` |
| `.items()`      |  `.pop()` |
|       |  `.popitem()` |
|     |  `.setdefault()` |
|     |  `.fromkeys()` |
|     |  `.copy()` |
|     |  `.clear()` |

На что стоит обратить внимание: скорее всего, вам всегда пригодится метод `.items()`, поэтому с ним нужно очень хорошо разобраться!

Метод возвращает <u>пары ключ-значение</u> в виде кортежей:

In [ ]:
some_dict = {1: "a", 2: "b"}

for pair in some_dict.items():
    print(pair)

(1, 'a')
(2, 'b')

Кортежи можно «распаковать», то есть в одну переменную сохранить ключ, а в другую — значение.

In [ ]:
for key, value in some_dict.items():
    print(f'Ключ {key}, значение {value}')

Ключ 1, значение a
Ключ 2, значение b

<center><b><font size=4>Задача №3</font></b></center>

**Вам передан список с абитуриентами `abiturients` и их баллами по математике, русскому языку и обществознанию соответственно. Напишите программу, которая принимает на вход целое число (от `0` до `100`) и название предмета (`математика`, `русский язык`, `обществознание`) и выводит отсортированный список имен студентов, которые набрали столько же или более баллов за вступительный экзамен по этому предмету**

* На первой строке вводится **целое число** - пороговое число баллов для прохождения вступительных испытаний по конкретному предмету;
* На второй строке вводится **строка - название предмета**. Гарантируется, что будет введено одно из трех значений – `математика`, `русскй язык` или `обществознание`.
* В результате программа должна вывести **отсортированный список с именами студентов, набравших не менее порогового числа баллов по этому конкретному предмету.**
* Если таких студентов нет, программа должна возвращать пустой список.

**Ориентируйтесь на тесты ниже:**
<center>
    <table>
        <tr>
            <th><center>Ввод</center></th>
            <th><center>Результат</center></th>
        </tr>
        <tr><td><p>90</p>
                <p>математика</p></td>
            <td>
                <p>['Александров Александр', 'Иванов Иван', 'Сергеев Сергей', 'Федоров Федор']</p></td></tr>
        <tr><td><p>73</p>
                <p>обществознание</p></td>
            <td><p>['Александров Александр', 'Иванов Иван']</p></td></tr>
        <tr><td>        
            <p>100</p>
            <p>русский язык</p></td>
            <td><p>[]</p></td></tr>
    </table>
</center>

In [ ]:
abiturients = {'Иванов Иван': [90, 84, 95],
           'Федоров Федор': [100, 70, 65],
           'Сергеев Сергей': [90, 83, 72],
           'Александров Александр': [100, 60, 80],
           'Федотов Федот': [60, 75, 60],}

Основной источик, по которому составлен семинар [тут](https://github.com/aaparshina/PROG_23-24/blob/main/PROG_05_upd.ipynb)